.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #fbdbd2;
}

h1 {
  margin: 30px;
  font-family: 'Dancing Script', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #66BFBF;
}

p {
  font-size: 2rem;
  color: #66BFBF;
  font-family: 'Indie Flower', cursive;
}

img {
  height: 60%;
  width: 60%;
}

footer {
  margin-top: 5%;
  color: #954040;
  text-align: center;
  font-weight: 500;
  /* font-family: 'Indie Flower', cursive; */

}